:root {
    --button-radius: 120px;
    --card-radius: 10px;
}

html,
body {
    font-family: "Roboto", serif;
    scroll-behavior: smooth;
}

.btn {
    position: relative;
}

.btn-lite-sm {
    font-size: .675rem;
    padding: .3rem .75rem;
}

.btn-no-bg {
    color: rgb(var(--bs-primary-rgb));
    background: transparent;
    transition: all ease .3s;
    border-radius: var(--button-radius);
}

.btn-lite-bg {
    color: rgb(var(--bs-primary-rgb));
    background: rgba(var(--bs-primary-rgb), 0.1);
    transition: all ease .3s;
    border-radius: var(--button-radius);
}

.btn-lite-bg:hover,
.btn-no-bg:hover {
    color: rgb(var(--bs-primary-rgb));
    background: rgba(var(--bs-primary-rgb), 0.3);
}

.btn-title {
    display: none;
    position: absolute;
    top: -32px;
    left: 6px;
    background: rgba(0, 0, 0, 0.9);
    font-size: .8rem;
    color: white;
    padding: 6px;
    border-radius: 4px;
    width: max-content;
    z-index: 10000;
}

.btn:hover>.btn-title {
    display: block;
}


.alert {
    display: none;
    position: fixed;
    right: 16px;
    z-index: 99;
}

#date-parent-container {
    display: grid;
    grid-template-columns: 15vw 1fr;
    align-items: flex-start;
}

#date-list-nav-container {
    position: sticky;
    top: 1rem;
    background: var(--bs-light);
    border: 1px solid var(--bs-gray-200);
    border-radius: var(--card-radius);
    margin-right: 1rem;
    z-index: 99;
}

@media screen and (max-width: 720px) {
    #date-parent-container {
        grid-template-columns: 1fr;
    }

    #date-list-nav-container {
        position: relative;
        margin-bottom: 1rem;
    }
}

#update-task-name {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--bs-blue);
}

#update-task-name:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--bs-blue);
    outline: none;
}

.list-group-item:hover,
input:hover {
    border: 1px solid rgba(var(--bs-primary-rgb), 0.5);
}

.date-item {
    background-color: var(--bs-light);
    border-radius: var(--card-radius);

    .fa-circle {
        color: var(--bs-gray-400);
    }

    border: 1px solid var(--bs-gray-200);

    h4 {
        font-size: 1.25rem;
    }

    @media screen and (max-width:720px) {
        h4 {
            font-size: 1rem;
        }
        .task-name{
            font-size: .825rem;
        }
    }
}

.completed-task {
    text-decoration: line-through;
    color: var(--bs-gray-500);
    background-color: var(--bs-gray-100);
}

.tasks-summary {
    font-size: .75rem;
    color: var(--bs-gray-600);
}